database/toxins.db
toxinas/



database/*.db


data/pdb_raw/

data/processed/
data/processed/*.csv
data/processed/*.json
pdbs/*.pdb
pdbs/filtered/*.pdb
pdbs/filtered_psfs/*.psf
pdbs/filtered_psfs/*.pdb
pdbs/filtered_psfs/logs/*.log
psfs/*.psf
processed/*.json
tools/test_output/*.pdb
tools/test_output/*.psf
tools/filtered/*.pdb
tools/filtered/*.psf
tools/filtered/logs/*.log

__pycache__/
*.pyc


.env


*.tmp

*.xml
*.json

#Premitir Json de exports
!exports/*.json